//
// @file
// Footer region styles.
// ----------------------------------------------------------------------------

// Footer region
#footer {
  padding: rhythm(2) 0 rhythm(1);
  width: 100%;
  text-transform:uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: -6px;

  #block-menu-menu-social-menu {
    width: 100%;
    border-bottom: 2px solid $teal-darker;
    a {
      text-decoration: none;
      color: $teal-lighter;
    }
  }

  #block-menu-menu-footer-menu{
    float: left;
    ul.nav {
      width:100%;
      list-style:none;
      font-size: 0.8em;

      > li {
        float: none;
            cursor:pointer;
        text-align:center;
        width: auto;
        display: inline-block;

        > a {
          color: $white;
          text-decoration:none;
          margin: 0 0.5em 0 0;
        }
      }
    }
  }
  #block-system-powered-by{
    color: $white;
    text-transform: uppercase;
    text-align: right;
    padding-top: 5px;
    a {
      text-decoration: none;
      color: $teal-lighter;
    }
  }
}
