//
// @file
// Styles for all regions within main.
// ----------------------------------------------------------------------------

// Main
#main {
  background-color: $white;
}

// Above content
#above-content {
  background-color: transparentize($teal-black, 0.15);
  padding-top: rhythm(2);
}

// Main content
#main-content {
  padding: rhythm(2) 0;
}
