//
// @file
// Header region styles.
// ----------------------------------------------------------------------------

// Header region

#header {
  background-color: $teal-black;
  padding: rhythm(1) 0;
  position: relative;

  //user menu

  ul.nav {
    width:100%;
    list-style:none;
    text-align:right;

    > li {
      float: none;
      text-transform:uppercase;
      cursor:pointer;
      text-align:center;
      width: auto;
      display: inline-block;

      > a {
        text-decoration:none;
        margin: 0 1em;
        font-size: 1em;
      }
    }
  }
  .nav-toggle {
    text-decoration:none;
    color: $white;
  }
  .mobile-user-menu {
    display: block;
    position: absolute;
    bottom: -41px;
    right: 50px;
  }
}

// Branding component

#branding {
  float: left;
  > h1 {
    @include adjust-font-size-to($fs-l, 5);
    float: left;
    margin: 0 rhythm(5, $fs-l);
    text-transform: uppercase;
    > a {
      color: $white;
    }
  }

  > h2 {
    @include adjust-font-size-to($fs-m, 5);
    color: $white;
    float: left;
    font-family: $ff-body;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
  }
}

//  Masthead

#masthead {
  padding: 10%;
  text-align: center;

  img {
    display: block;
    margin: 0 auto rhythm(5);
    max-width: 80%;
  }

  .button--secondary {
    @include breakpoint($tablet, $no-query: '.lt-ie9') {
      @include adjust-font-size-to($fs-xl, 4);
      padding: rhythm(3, $fs-xl) rhythm(12, $fs-xl);
    }
  }
}

// user menu small screens
@media screen and (max-width: 640px) {

  #header {
    ul.nav {
      padding:0 .5em;
    }

    ul.nav > li {
      width:100%;
      padding:.45em .25em;
      margin:0 0 .55em 0;
    }
    #block-system-user-menu {
      width: 100%;
    }
  }
}
