//
// @file
// Button and link styles.
// ---------------------------------------------------------------------------
@mixin button {
  @include inline-block;
  @include border-radius(3px);
  border: none;
  color: $white;
  font-family: $ff-display;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;

  &:hover {
    color: $teal-lightest;
    text-decoration: none;
  }
}

// Button sizes
// ---------------------------------------------------------------------------
@mixin button--tiny {
  @include adjust-font-size-to($fs-xxs);
  padding: rhythm(.25, $fs-xxs) 6px;
}

@mixin button--small {
  @include adjust-font-size-to($fs-xxs);
  padding: rhythm(.5, $fs-xxs) 10px;
}

@mixin button--medium {
  @include adjust-font-size-to($fs-l, 4);
  padding: rhythm(2, $fs-l) rhythm(6, $fs-l);
}

@mixin button--large {
  padding: rhythm(1, $fs-l) 18px;
  @include adjust-font-size-to($fs-l);
  @include border-radius($radius-m);
}

// Button colors
// ---------------------------------------------------------------------------
@mixin button--primary {
  background: $teal;

  &:hover {
    background: $teal-light;
  }

  &:active {
    background: $teal-dark;
  }
}

@mixin button--secondary {
  background: $teal-black;
  background: rgba($teal-black, .8);

  &:hover {
    background: $teal-darkest;
  }

  &:active {
    background: $teal-black;
  }
}

@mixin button--tertiary {
  background: $teal-light;

  &:hover {
    background: $teal-lighter;
  }

  &:active {
    background: $teal;
  }
}

// Button icons
// ---------------------------------------------------------------------------
@mixin button-icon($x-size: 18px, $y-size: 18px) {
  content: '';
  position: relative;
  width: $x-size;
  height: $y-size;
  @include inline-block;
}

@mixin button-icon--before {
  &:before {
    top: -1px;
    @include button-icon();
  }
}

@mixin button-icon--after {
  &:after {
    top: -1px;
    @include button-icon();
  }
}
